html,
body,
div,
span,
article,
aside,
section,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ol,
ul,
li,
footer,
header,
nav {
  border: 0;
  margin: 0;
  padding: 0;
}

article,
aside,
footer,
header,
menu,
nav,
section {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  font-size: 1.4rem;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: whitesmoke;
  font-family: "Lato", sans-serif;
  font-size: 1em;
}

/*   */

ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

section {
  border-top: 10vh solid whitesmoke;
}

@media only screen and (min-width: 1025px) {
  section {
    width: 70%;
    margin: 0 15%;
  }
}

section img {
  width: 100%;
  max-width: 700px;
  border-radius: 100%;
}

h1 {
  color: rgb(134, 133, 133);
  font-weight: lighter;
  font-size: 0.95em;
  margin: 0 0 3vh 0;
}

/* SCROLLBAR - code from w3 schools */

::-webkit-scrollbar {
  width: 1vw;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(161, 161, 161);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #838383;
}

/* FRIEZE DESKTOP */

@media only screen and (min-width: 1025px) {
  body {
    display: grid;
    grid-template-columns: 5vw 89vw 6vw;
  }

  div.frieze-container {
    position: relative;
  }

  div.bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 5vw;
    height: 100%;
    background-image: url(../images/r3.png);
    background-repeat: repeat-y;
    background-size: 100%;
  }
}

/* frieze tablet mode - gone */
@media only screen and (max-width: 1024px) {
  div.frieze-container {
    display: none;
  }

  div.frieze-container svg {
    display: none;
  }

  div.right-frieze {
    display: none;
  }
}

/* NAVIGATION */

@media only screen and (max-width: 1024px) {
  .navigation {
    font-size: 2rem;
    width: 100%; /*calc(100% - 20px);*/
    height: 8vh;
    z-index: 2;
    cursor: default;
    position: fixed;
    top: 0;
    background-color: rgb(34, 13, 73);
  }

  .navigation-logo {
    position: fixed;
    top: 0.5vh;
    left: 8vw;
  }

  #logo-pic {
    width: 6vw;
  }

  .navigation-items-wrapper {
    width: 100vw;
    height: 92vh;
    transform: translate(-100vw, 8vh);
    background-color: rgb(100, 148, 237);
    z-index: 2;
  }

  .navigation-items {
    padding: 20vh 20vw;
  }

  .navigation-item {
    padding: 3vh 0;
  }

  img#cross-pic {
    max-width: 3rem;
    opacity: 0.5;
  }

  div.navigation-cross {
    position: fixed;
    top: -7vh;
    right: 3vw;
    opacity: 0;
    z-index: 3;
  }

  .fadeInCross {
    animation: fadeInCross 0.5s ease 0.8s forwards;
  }

  @keyframes fadeInCross {
    to {
      opacity: 1;
    }
  }

  .fadeOutCross {
    animation: fadeOutCross 0.02s ease forwards;
  }

  @keyframes fadeOutCross {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .showMenu {
    animation: slideMenu 1s ease forwards;
  }

  @keyframes slideMenu {
    to {
      transform: translate(0vw, 8vh);
    }
  }

  .hideMenu {
    animation: hideMenu 1s ease forwards;
  }

  @keyframes hideMenu {
    from {
      transform: translate(0vw, 8vh);
    }
    to {
      transform: translate(-100vw, 8vh);
    }
  }
}

@media only screen and (min-width: 1025px) {
  .navigation-sticky {
    background-color: whitesmoke;
    position: fixed;
    width: 88vw;
    z-index: 3;
    height: 10vh;
  }

  #logo-pic {
    height: 7vh;
    margin: 1vh 0 0 5vw;
  }

  .navigation-wrapper {
    display: inline-block;
  }

  .navigation-items-wrapper {
    position: fixed;
    top: 0;
    right: 5%;
  }

  li a#top-link {
    display: none;
  }

  div.navigation-cross {
    display: none;
  }

  .navigation-item {
    display: inline-block;
    padding: 4vh 4vw 1vh 4vw;
    font-size: 0.8em;
    color: black;
  }

  .navigation-item a {
    color: rgb(104, 32, 100);
  }

  .navigation-item a:hover {
    color: rgb(110, 180, 197);
  }
}

/* TOP - image, TEXT */

/* phone size */

/* desktop size */
@media only screen and (min-width: 1025px) {
  #top #me-pic {
    display: block;
    margin: auto;
    max-width: 31%;
    border-radius: 100%;
    box-shadow: 1vw 1vh 9vh rgba(0, 0, 0, 0.288);
    margin-top: 10vh;
    margin-bottom: 7vh;
  }

  #intro {
    font-weight: bold;
    margin: 0 0 3vh 0;
    text-align: center;
    font-size: 1.1em;
  }

  .skills-top {
    display: block;
    max-width: 10vw;
    margin: auto;
  }

  .skills-top p {
    font-size: 0.65em;
    color: rgb(124, 122, 122);
  }
}

/* ABOUT ME */

/* desktop size */
@media only screen and (min-width: 1025px) {
  .about-div {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 10%;
    font-size: 0.6em;
    color: #302f2f;
  }
}

.about-div span {
  font-size: 0.8em;
  color: rgb(124, 122, 122);
}

.about-div span a {
  text-decoration: underline;
  color: rgb(95, 95, 180);
}

/* PROJECTS SECTION*/

/*phone size*/
@media only screen and (max-width: 1024px) {
  .pair-l,
  .pair-r {
    width: 90vw;
    margin: 0 5vw;
  }
}

/*desktop size*/
@media only screen and (min-width: 1025px) {
  .projects-grid {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  section.left-column,
  section.right-column {
    border: 0;
    margin: 0;
    width: 100%;
  }

  .group {
    max-width: 77%;
    margin: 3vh 0 0 0;
  }

  .group-r {
    float: right;
    margin: 14vh 0 0 0;
  }
  .circle {
    position: relative;
    z-index: 0;
  }

  .circle-text {
    text-align: center;
    padding: 30px 10px;
    visibility: hidden;
  }

  .desc {
    position: absolute;
    border-radius: 100%;
    background-color: aquamarine;
    top: 7%;
    left: 7%;
    visibility: hidden;
  }

  .desc-r {
    right: 7%;
  }

  .desc-text {
    padding: 35% 5%;
    text-align: center;
    font-size: 0.65em;
  }

  .desc a {
    position: absolute;
    bottom: 5vh;
    font-size: 0.65em;
    text-decoration: underline;
    width: 30%;
    margin: 0 35%;
    color: #757575;
  }

  #difanation .desc {
    background: -moz-linear-gradient(
      70deg,
      #8cfffd 0%,
      #e38be1 100%
    ); /* ff3.6+ */
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, #e38be1),
      color-stop(100%, #8cfffd)
    ); /* safari4+,chrome */
    background: -webkit-linear-gradient(
      70deg,
      #8cfffd 0%,
      #e38be1 100%
    ); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(70deg, #8cfffd 0%, #e38be1 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(
      70deg,
      #8cfffd 0%,
      #e38be1 100%
    ); /* ie10+ */
    background: linear-gradient(20deg, #8cfffd 0%, #e38be1 100%); /* w3c */
  }
  .circle img:hover {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
  .group h3 {
    text-align: center;
    font-weight: lighter;
    margin: 2vh 0 0 0;
  }
  /* :hover show details */
  .showDetails {
    -webkit-animation: showDesc 0.5s forwards ease-out;
    -moz-animation: showDesc 0.5s forwards ease-out;
    animation: showDesc 0.5s forwards 1 ease-out;
  }
  .hideDetails {
    -webkit-animation: hideDesc 0.5s forwards ease-out;
    -moz-animation: hideDesc 0.5s forwards ease-out;
    animation: hideDesc 0.5s forwards 1 ease-out;
  }
  .showText {
    animation: textAppear 0.1s forwards linear;
  }
  @keyframes showDesc {
    0% {
      opacity: 0;
      width: 0;
      height: 0;
    }
    1% {
      visibility: visible;
      opacity: 0;
    }
    100% {
      opacity: 1;
      width: 80%;
      height: 80%;
      visibility: visible;
      opacity: 0.9;
    }
  }
  @keyframes hideDesc {
    0% {
      opacity: 1;
      width: 80%;
      height: 80%;
      visibility: visible;
      opacity: 0.9;
    }
    99% {
      visibility: visible;
      opacity: 0;
    }
    100% {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }
  @keyframes textAppear {
    0% {
      opacity: 0;
      width: 70%;
    }
    1% {
      visibility: visible;
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
      width: 90%;
    }
  }
}
