html,
body,
div,
span,
article,
aside,
section,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ol,
ul,
li,
footer,
header,
nav {
  border: 0;
  margin: 0;
  padding: 0;
}

article,
aside,
footer,
header,
menu,
nav,
section {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  font-size: 1.4rem;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: whitesmoke;
  font-family: "Lato", sans-serif;
  font-size: 1em;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

section {
  border-top: 10vh solid whitesmoke;
  width: 88vw;
}

section img {
  width: 100%;
  max-width: 700px;
}

h1 {
  color: rgb(124, 122, 122);
  font-weight: lighter;
  margin: 0 0 3vh 0;
}

/* FRIEZE DESKTOP */

@media only screen and (min-width: 1025px) {
  body {
    display: grid;
    grid-template-columns: 5% 90% 5%;
  }

  section {
    width: 80vw;
    margin: 0 4.5vw;
  }

  div.frieze-container {
    background-image: url("../images/frieze-white1.jpg");
    background-color: white; /*remove when right picture is set accordingly*/
    background-repeat: repeat-y;
  }

  div.right-frieze {
    position: relative;
  }

  div#frieze-container-right {
    position: absolute;
    width: 85%; /*change accordingly - temporary value*/
    height: 100%;
    right: 0;
    background-image: url("../images/frieze-white1.jpg");
    background-color: greenyellow; /*remove when width is set acrodingly*/
  }
}

/* frieze tablet mode - gone */
@media only screen and (max-width: 1024px) {
  div.frieze-container {
    display: none;
  }

  div.right-frieze {
    display: none;
  }
}

/* NAVIGATION */

@media only screen and (max-width: 1024px) {
  .navigation {
    font-size: 2rem;
    width: 100%; /*calc(100% - 20px);*/
    height: 8vh;
    z-index: 2;
    cursor: default;
    position: fixed;
    top: 0;
    background-color: rgb(34, 13, 73);
  }

  .navigation-logo {
    position: fixed;
    top: 2%;
    left: 5%;
  }

  .navigation-items-wrapper {
    width: 100vw;
    height: 92vh;
    transform: translate(-100vw, 8vh);
    background-color: rgb(100, 148, 237);
    z-index: 2;
  }

  .navigation-items {
    padding: 20vh 20vw;
  }

  .navigation-item {
    padding: 3vh 0;
  }

  img#cross-pic {
    max-width: 3rem;
    opacity: 0.5;
  }

  div.navigation-cross {
    position: fixed;
    top: -7vh;
    right: 3vw;
    opacity: 0;
    z-index: 3;
  }

  .fadeInCross {
    animation: fadeInCross 0.5s ease 0.8s forwards;
  }

  @keyframes fadeInCross {
    to {
      opacity: 1;
    }
  }

  .fadeOutCross {
    animation: fadeOutCross 0.02s ease forwards;
  }

  @keyframes fadeOutCross {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .showMenu {
    animation: slideMenu 1s ease forwards;
  }

  @keyframes slideMenu {
    to {
      transform: translate(0vw, 8vh);
    }
  }

  .hideMenu {
    animation: hideMenu 1s ease forwards;
  }

  @keyframes hideMenu {
    from {
      transform: translate(0vw, 8vh);
    }
    to {
      transform: translate(-100vw, 8vh);
    }
  }
}

@media only screen and (min-width: 1025px) {
  .navigation-sticky {
    background-color: whitesmoke;
    position: fixed;
    width: 88vw;
    z-index: 3;
    height: 10vh;
  }

  .navigation-wrapper {
    display: inline-block;
  }

  .navigation-items-wrapper {
    position: fixed;
    top: 0;
    right: 5%;
  }

  li a#top-link {
    display: none;
  }

  div.navigation-cross {
    display: none;
  }

  .navigation-item {
    display: inline-block;
    padding: 4vh 4vw 1vh 4vw;
    font-size: 0.8em;
    color: black;
  }

  .navigation-item a {
    color: rgb(104, 32, 100);
  }

  .navigation-item a:active {
    color: rgb(110, 180, 197);
  }
}

/* TOP - image, TEXT */

/* phone size */

#top #me-pic {
  display: block;
  margin: auto;
  max-width: 30%;
  border-radius: 100%;
  box-shadow: 1vw 1vh 9vh rgba(0, 0, 0, 0.288);
  margin-top: 10vh;
  margin-bottom: 7vh;
}

#intro {
  font-weight: bold;
  margin: 0 0 3vh 0;
  text-align: center;
  font-size: 1.2em;
}

.skills-top {
  display: block;
  max-width: 10vw;
  margin: auto;
}

.skills-top p {
  font-size: 0.65em;
  color: rgb(124, 122, 122);
}

@media only screen and (max-width: 1024px) {
}

/* desktop size */
@media only screen and (min-width: 1025px) {
}

/* ABOUT ME */

/* desktop size */
@media only screen and (min-width: 1025px) {
  .about-div {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 10%;
    font-size: 0.8em;
  }
}

.about-div span {
  font-size: 0.8em;
  color: rgb(124, 122, 122);
}

.about-div span a {
  text-decoration: underline;
  color: rgb(95, 95, 180);
}

/* PROJECTS SECTION*/
.desc-r,
.desc-l {
  background-color: rgb(187, 112, 187);
}

/*phone size*/
@media only screen and (max-width: 1024px) {
  .pair-l,
  .pair-r {
    width: 90vw;
    margin: 0 5vw;
  }
}

/*desktop size*/
@media only screen and (min-width: 1025px) {
  .pair {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .project-pic {
    position: relative;
    z-index: 0;
  }

  .desc-l,
  .desc-r {
    position: absolute;
    width: 35vw;
    height: 250px;
    top: 30px;
  }

  .desc-r {
    right: 0;
    animation: showDesc 1s forwards ease-out;
  }

  @keyframes showDesc {
    0% {
      width: 0;
    }
    100% {
      width: 35vw;
    }
  }
}
